body {
    margin: 0;
font-family: 'Raleway', sans-serif;
font-size: 13px;
color: darkorange;
-webkit-font-smothing:antialiased;
background-color: white;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px 0;
}
/*container
==================================*/
.container {
    width: 100%;
    max-width:  1030px;
    margin: 0 auto;
    padding: 0 15px;
}

/*header
==================================*/

.header {
    height: 100px;
    width:100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(165, 103, 27);
    align-items: center;
    padding: 35px;
}
.header_logo
{
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    opacity: 0.8;
}
/*nav
==================================*/
.nav {
    display: flex;
    font-size:13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link {
    font-size: 23px;
    margin-left: 50px;
    /* color: rgb(192, 106, 0); */
    color: white;
    text-decoration: none;
    opacity: .8;
    transition: opacity .2s linear;
}
.nav_link:first-child {
margin-left: 0;

}

.nav_link:hover {
    text-decoration: none;
    color:rgb(156, 109, 50);
    opacity: 1;
}
/*intro
==================================*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: 750px;
    background:url("img/wall.jpg" ) center no-repeat;
}
.intro_inner {
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.intro_title {
   margin: 0 0 30px;
    font-family: 'Open Sans',sans-serif;
    font-size:65px;
    line-height: 1.1;
    color:rgb(214, 104, 30);
   

    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
}
.intro_subtitle {

    font-size: 30px;
    /* color:rgb(204, 92, 0); */
    /* color:rgb(201, 122, 76); */
    color:white;
    margin-bottom: 60px;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    opacity: 0.7;
}
.intro_inner_subtitle {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 400;
}
/*------------------------------------------btnІ--------------------==================================*/
.btn {
    display:inline-block;
    vertical-align: top;
    padding: 14px 40px;;
    border-radius: 3px;
    border:0;
    cursor:pointer;
    font-family: 'Raleway',sans-serif;
    font-size:13px;
    color:rgba(255, 255, 255, 0.747);
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear;
}
.btn--darkorange {
    background-color: rgb(192, 106, 0);
}
.btn--darkorange:hover {
    background-color: rgb(128, 70, 0);
}

/*----------------------------features==================================*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin:95px 0;
}

.features_item {
    margin: 25px 0;;
    width:33.33333%;
    padding: 0 30px;
    text-align: center;
}

.features_icon {
    margin-bottom: 25px;
}

.features_title {
    margin-bottom: 20px;

    font-size:14px;
    color:black;
    /* color: white; */
    font-weight: 700;
    text-transform: uppercase;
}

.features_text {
    font-size: 13px;
    line-height: 1.5;
    /* color:white; */
    color:black;
}


/*-------------------------------------------------eight photos ==================================*/




.photo {
    display:flex;
    flex-wrap:wrap;
}

.photo_item {
    width:25%;
    height: 309.5px;
    border-bottom: 1px solid #fff;
    border-top:1px solid#fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    position: relative;
    overflow: hidden;

}
.photo_item:hover .photo_content {
    opacity:1;
}

.photo_img {
    position:absolute;
    top:50%;
    left:50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    /* шоб вирівняти по осі ікс і ігрик чи використовуємо конструкцію transform і
     міняємо нулі на відосткові значення в top&left */
}

.photo_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    height: 100%;
    position: absolute;
    
    background-color:rgba(112, 45, 7, 0.9);
    opacity:0;
    text-align: center;
    top:0;
    left:0;
    z-index: 2;
    transition: opacity .2s linear;;
}
.photo_title {
    margin-bottom:5px;
    font-size: 14px;
    font-weight: 700;
    color:black;
    text-transform: uppercase;
}
.photo_text {
    font-size: 14px;
    color: #fff;
}

/*----------------------------------------- team photo----------------------- */

.team {
    margin: 100px ;

}
.team_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.team_item {
    width:25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team_photo { 
    display:block;
    min-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.team_name {
    font-size:22px;
    color:black;
    margin-bottom:8px;
    margin-top: 15px;
    /* text-align: center; */
}
.team_prof {
font-size: 13px;
color:rgb(192, 106, 0);
text-transform: uppercase;
margin-bottom: 15px;
/* text-align: center; */
}
.team_text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.3;
    color:black;
    /* text-align: center; */
}

/*----------------------------icon social==================================*/

.social {
    display: flex;
}
.social_item {
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    margin-right: 4px;
    background-color: #fff;
    border:1px solid #e8ecee;
    transition: background .1s 
    linear;
    overflow: hidden;
}
.social_item:hover {
    background-color:  #e8ecee;
}
.social_item:hover .social_icon {
    fill:rgb(192, 106, 0);
}
.social_icon {
    
    fil:#e6cacc;
    display: block;
    height: 18px;
    transition: fill .1s linear;
}
/*----------------------------reviews scroll==================================*/
.reviews {
    overflow: hidden;
    background-color: rgb(235, 170, 92);
}
.reviews_item {
    display: flex;
    flex-wrap: wrap;
}
.reviews_photo {
    width: 50%;
    height: 500px;
    position: relative;
}
.reviews_content {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.reviews_text {

    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size:36px;
    margin-bottom: 25px;
    line-height: 1.2;
    color: rgb(182, 70, 42);
    
    
}
.reviews_author {
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(182, 70, 42);
    font-weight: 700;
}
.reviews_img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}
/* <!--------------------------------------------review --------------------------------------------------> */
.download {
    margin: 90px 0;
    text-align: center;
}
.download_title {
    margin-bottom: 10px;
    font-size: 28px;
    color:black;
    font-weight: 300;
}
.download_text {
    font-size: 13px;
    color:black;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
}